In [2]:
# 2 nd method

a = 99

print(float(a), type(float(a)))

99.0 <class 'float'>

In [3]:
a = int(123.897)

print(a, type(a))

123 <class 'int'>

In [4]:
a = round(123.897)

print(a, type(a))

124 <class 'int'>

In [5]:
a = int(99.9999)

print(a, type(a))

99 <class 'int'>

In [6]:
a = round(99.9999)

print(a, type(a))

100 <class 'int'>

In [7]:
a = complex(99)


print(a, type(a))

(99+0j) <class 'complex'>

In [8]:
a = complex(99.98)


print(a, type(a))

(99.98+0j) <class 'complex'>

In [9]:
a = int(99.98+4j)


print(a, type(a))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [10]:
a = bool(55)


print(a, type(a))

True <class 'bool'>

In [ ]:
- int --> 0 is false and rest all are true
- float --> 0.0 is false and rest all are true
- complex --> 0+0j is false and rest all are true
- string - ''false and rest all are true
- None - always false
[] {} () always false

In [11]:
a = bool(0+0j)


print(a, type(a))

False <class 'bool'>

In [12]:
a = bool('')


print(a, type(a))

False <class 'bool'>

In [14]:
a = bool(None)


print(a, type(a))

False <class 'bool'>

In [17]:
lst = ['salahdin@gmail.com' , 'chandan@hotmail.com' , 'sujatha@outlook.com' , 'priya@reddif.com'
    ]
e_list = []

for i in lst:
    if i.endswith(gmail.com'):
       e_list.append(i)
else:
   if bool(e_list):
     print('gmail IDs found : ' , e_list)

SyntaxError: unterminated string literal (detected at line 6) (4003966495.py, line 6)

In [18]:
a = '123'

print(a , type(a))

123 <class 'str'>

In [19]:
a = int('123abc')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '123abc'

In [20]:
a = int('123.67')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '123.67'

In [21]:
a = float('123.67')


print(a , type(a))

123.67 <class 'float'>

In [22]:
a =int(float('123.8888'))


print(a , type(a))

123 <class 'int'>

# Eval

In [25]:
a = float('123.67')


print(a , type(a))

123.67 <class 'float'>

In [26]:
a = eval('1234')
print(a , type(a))

1234 <class 'int'>

In [28]:
a = eval('[1234.567,54,67,89]')
print(a , type(a))

[1234.567, 54, 67, 89] <class 'list'>

# input function
- which allows the user to input any values
- the input will always be in s form of string

In [ ]:
a = input('Enter a value :')
print(a , type(a))

In [1]:
'10' + '20'

'1020'

In [8]:
a = input('Enter a value :')
b = input ('Enter b value :')


print((a+b))

Enter a value :90
Enter b value :89
9089

In [9]:
a = eval(input('Enter a value :'))
b =eval(input ('Enter b value :'))


print((a+b))

Enter a value :45
Enter b value :67
112

In [15]:
a = int(input("enter mobile no :"))
print("+91-"+str(a))

enter mobile no :855964261856
+91-855964261856

In [3]:
a = input('first name :')
b =int(input('enter the mobile number :'))

c = 'first name is {} and enter the mobile number {}'.format(a,b)
print (c)

first name :suji
enter the mobile number :54778980
first name is suji and enter the mobile number 54778980

In [6]:
a = eval(input('Enter a value :'))
b =eval(input ('Enter b value :'))
c=a+b
c = {f'my addition of 2 numbers {a} and {b} ={c}'}
print((c))

Enter a value :78
Enter b value :90
{'my addition of 2 numbers 78 and 90 =168'}